@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap");

body {
  background-color: #141414;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
}

input {
  font-family: inherit;
}
